// Color
$colorPrimary : #55c57a;
$colorPrimary-light : #7ed56f;
$colorPrimary-dark : #28b485;
$colorSecondary-light : #ffb900;
$colorSecondary-dark : #ff7730;
$colortertiary-light : #2998ff;
$colortertiary-dark : #5643af;
$color-grey-light-1 : #f7f7f7;
$color-grey-dark : #777;
$color-white : #fff;
$color-black : #000;

// Font
$default-font-size : 1.6rem;